<div class="container">
	<form>
		<div class="card-header">
			<div class="low">
				<div class="col-8" >
					Historico
				</div>
				<button type="button" class="btn btn-success" routerLink="/admin">Voltar</button>
				<!--<div class="col-6">
					<button type="button" class="btn btn-primary" (click)="adicionar()">Adicionar</button> |
					<button type="button" class="btn btn-warning" (click)="alterar()">Alterar</button> |
					<button type="button" class="btn btn-danger" (click)="excluir()">Excluir</button> |
					<button type="button" class="btn btn-success" routerLink="/admin">Voltar</button> |
				</div>
			</div>
		</div>
		
		<div class="alter alter-primary" role="alert">
			{{mens}}
		</div>
		
		<div class="card-body">
			<div class="form-row">
				<div class="form-group col-md-2">
					<label for="inputCodigo">Codigo</label>
					<input type="number" class="form-control" name="inputCodigo" [(ngModel)]="obj.id">
				</div>
				<div class="form-group col-md-6">
					<label for="inputOrdem">Ordem de Serviço</label><br>-->
					<!--<input type="text" class="form-control" name="inputOrdem" [(ngModel)]="obj.ordem.id">-->
				<!--<select class="form-control" name="inputOrdem" id="inputOrdem"  on-change="atribuir(a.value)" #a>
						<option value="" disabled selected>Selecione a OS:</option>
						<option *ngFor="let objOs of listaOs" value="{{objOs.id}}"[selected]="objOs.id === obj.ordem.id" >{{objOs.id}}</option>
					</select>
                </div>
                <div class="form-group col-md-6">
					<label for="inputPessoaFun">Funcionario</label>-->
				<!--	<input type="text" class="form-control" name="inputPessoaFun" [(ngModel)]="obj.pessoafun.nome">-->
				<!--	<select class="form-control" name="inputPessoaFunc" id="inputPessoaFunc"    on-change="atribuiririr(a.value)" #a >
						<option value="" disabled selected>Selecione o Funcionario:</option>
						<option *ngFor="let objPes of listaPes" value="{{objPes.id}}" [selected]="objPes.id === obj.pessoafun.id" >{{objPes.nome}}</option>	
					</select>
                </div>
                <div class="form-group col-md-6">
					<label for="inputData">Data</label><br>-->
					<!--~]<input type="text" class="form-control" name="inputData" [(ngModel)]="obj.data">-->
				<!--	<p-calendar id="inputData" name="inputData" [(ngModel)]="obj.data" dateFormat="dd/mm/yy" ></p-calendar>
                </div>
                <div class="form-group col-md-6">
					<label for="inputStatus">Status</label><br>-->
				<!--	<input type="text" class="form-control" name="inputStatus" [(ngModel)]="obj.status">-->
			<!--<select  name="select" class="ls-select" style="width:300px" placeholder="Selecione o Status" [(ngModel)]="obj.status" >
					<option value="" disabled >Selecione o Status:</option>
					<option value="Aberto" [selected]="'Aberto' === obj.status">Aberto</option>
					<option value="Entregue"  [selected]="'Entregue' === obj.status">Entregue</option>
					<option value="Cancelado" [selected]="'Cancelado' === obj.status">Cancelado</option>
					<option value="Processado"  [selected]="'Processado' === obj.status">Processado</option>
				</select>
				</div>-->
         </div>	
			
			<div class="card">
				<div class="card-body">
					<table class="table">
						<th scope="col"> Codigo </th>
						<th scope="col"> Ordem de Serviço </th>
						<th scope="col"> Funcionario </th>
						<th scope="col"> Data </th>
						<th scope="col"> Status </th>
                        <th scope="col"> ... </th>
						<tr *ngFor="let obj of lista">
							<td>{{obj.id}}</td>
                            <td>{{obj.ordem.id}}</td>
							<td>{{obj.pessoafun.nome}}</td>
							<td>{{obj.data}}</td>
							<td>{{obj.status}}</td>
						   
						</tr>
					</table>
				</div>
			</div>
		</div>
	</form>
</div>
