<!--~]<app-tiposervico></app-tiposervico>
<app-laboratorio-sala></app-laboratorio-sala>
<app-pessoa></app-pessoa>
<app-ordem-servico></app-ordem-servico>
<app-historico></app-historico>-->
<nav class="navbar navbar-dark bg-primary" >
  <button class="navbar-toggler" type="button"  data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <a class="navbar-brand" routerLink="/" style="color: white">Gestao de Laboratorio</a>
  </button>
    <button class="navbar-toggler" type="button"  data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <a class="nav-link active" routerLink="/login" style="color: white">Login</a>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
    </div>
  </nav>
  <div>
    <router-outlet></router-outlet>
  </div>

  <!--<li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>-->