
<!--<div style="background-color: black">
    <a routerLink="/tiposervico" routerLinkActive="selected">Tipo de Serviço</a> <a>|</a>
    <a routerLink="/laboratorio-sala" routerLinkActive="selected">Laboratorio Sala</a>
</div>
<div class="aaa">
<router-outlet></router-outlet>-->
<!--~]<app-tiposervico></app-tiposervico>
<app-laboratorio-sala></app-laboratorio-sala>
<app-pessoa></app-pessoa>
<app-ordem-servico></app-ordem-servico>
<app-historico></app-historico>-->

<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
   
        <a class="nav-link" routerLink="/pessoa/fun">Cadastro</a>
    
      </li>
      <li class="nav-item">
   
        <a class="nav-link" routerLink="/historico">Historico</a>
    
      </li>
      <li class="nav-item">
  
        <a class="nav-link" routerLink="/laboratorio-sala">sala</a>
    
      </li>
      <li class="nav-item">
  
        <a class="nav-link" routerLink="/tiposervico">Tipo de Servico</a>
    
      </li>
      <li class="nav-item">
  
        <a class="nav-link" routerLink="/ordem-servico">Ordem de Serviço</a>
    
      </li>
    </ul>
    <br>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT7V45JhqB-evwBxHdirlwJKpTd2tIAPpUAYCSYq6W2aCXaHBuC&usqp=CAU" alt=""width="1299" height="77">
    <img src="https://thumbs.dreamstime.com/z/sinal-do-admin-na-ilustra%C3%A7%C3%A3o-do-vetor-da-tela-do-smartphone-88757341.jpg" alt="">
  </div>
</div>